.carousel-item{
    min-height: 50%;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
body{
    font-size: 16px;
}

.carousel-text{
    padding: 15% ;
    text-align: center;
    color: white;
}
.carousel-text h1{
    font-size: 6vw;
    font-weight: 600;
}
.carousel-text p{
    font-size: 2vw;
}

